<div class="container">
    <div class="header">
      <h1>Adicionar Relatório</h1>
    </div>
    <form (ngSubmit)="onAddReport()">
      <input
        type="text"
        placeholder="Nome do Relatório"
        [(ngModel)]="reportData.name"
        name="name"
        required
        disabled
      />
  
      <input
        type="number"
        placeholder="Valor"
        [(ngModel)]="reportData.value"
        name="value"
        required
      />
  
      <input
        type="text"
        placeholder="Código Fiscal"
        [(ngModel)]="reportData.codigoFiscal"
        name="codigoFiscal"
        required
      />
  
      <button type="submit">Adicionar</button>
    </form>
  
    <div class="error-message" *ngIf="addReportError">
      {{ addReportError }}
    </div>
  </div>
  