<div class="container">
    <div class="header">
      <h1>Adicionar Relatório</h1>
    </div>
    <form (ngSubmit)="onAddReport()">
      <!-- Campo para o nome do relatório (desativado, apenas exibição) -->
      <input
        type="text"
        placeholder="Nome do Relatório"
        [(ngModel)]="reportData.name"
        name="name"
        required
        disabled
      />
  
      <!-- Campo para o valor do relatório -->
      <input
        type="number"
        placeholder="Valor"
        [(ngModel)]="reportData.value"
        name="value"
        required
      />
  
      <!-- Campo para o código fiscal -->
      <input
        type="text"
        placeholder="Código Fiscal"
        [(ngModel)]="reportData.codigoFiscal"
        name="codigoFiscal"
        required
      />
  
      <!-- Botão para adicionar o relatório -->
      <button type="submit">Adicionar</button>
    </form>
  
    <!-- Exibição de erro, se houver -->
    <div class="error-message" *ngIf="addReportError">
      {{ addReportError }}
    </div>
  </div>
  