
    <div class="tabs">
      <button class="tab-button" [class.active]="selectedTab === 'inspecionar'" (click)="selectTab('inspecionar')">Inspecionar</button>
      <button class="tab-button" [class.active]="selectedTab === 'dashboard'" (click)="selectTab('dashboard')">Dashboard</button>
    </div>
  

    <div *ngIf="selectedTab === 'inspecionar'">
      <h1>Gerenciamento de Relatórios</h1>
  
      <div class="filters">
        <input
          type="text"
          placeholder="Nome do Usuário"
          [(ngModel)]="filters.userName"
          name="userName"
        />
        <input 
          type="date" 
          [(ngModel)]="filters.startDate" 
          name="startDate" 
        />
        <input 
          type="date" 
          [(ngModel)]="filters.endDate" 
          name="endDate" 
        />
        <div class="filter-buttons">
          <button (click)="filterReports()">Filtrar</button>
          <button class="clear" (click)="getAllReports()">Limpar Filtros</button>
        </div>
      </div>
  

      <div class="table-container" *ngIf="reports.length > 0; else noData">
        <table>
          <thead>
            <tr>
              <th>Nome do Usuário</th>
              <th>Valor</th>
              <th>Data</th>
              <th>Hora</th>
              <th>Código Fiscal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports">
              <td>{{ report.name }}</td>
              <td>{{ report.value | currency: 'BRL' }}</td>
              <td>{{ report.date }}</td>
              <td>{{ report.hora }}</td>
              <td>{{ report.codigoFiscal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <ng-template #noData>
        <p class="no-data">Nenhum relatório encontrado.</p>
      </ng-template>
  

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  

    <div *ngIf="selectedTab === 'dashboard'">
        <h1>Dashboard</h1>
      

        <div class="filters">
          <select [(ngModel)]="filtersGraph.userName" (change)="filterReportsGraph()" name="userName">
            <option value="">Todos</option>
            <option *ngFor="let user of users" [value]="user.name">{{ user.name }}</option>
          </select>
      
          <select [(ngModel)]="filtersGraph.month" (change)="filterReportsGraph()" name="month">
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
          </select>
        </div>
      

        <div class="chart-container">

        </div>
      </div>
  </div>